In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_json('../data/raw/rotten_tomatoes_april_scores.json')

In [3]:
df.head()

,Title,Score,Details,URL
0,Cop-Out,,"1967, Drama/Crime, 1h 35m",https://www.rottentomatoes.com/m/cop_out-1967
1,Coven of Sisters,83,"2020, Drama, 1h 30m",https://www.rottentomatoes.com/m/coven_of_sisters
2,Friends With Benefits,68,"2011, Romance, 1h 49m",https://www.rottentomatoes.com/m/friends_with_...
3,Insidious: The Last Key,33,"2018, Horror/Mystery and thriller, 1h 43m",https://www.rottentomatoes.com/m/insidious_the...
4,Irul,0,"2021, Mystery and thriller, 1h 31m",https://www.rottentomatoes.com/m/irul

In [4]:
df[df.Score == ""]

,Title,Score,Details,URL
0,Cop-Out,,"1967, Drama/Crime, 1h 35m",https://www.rottentomatoes.com/m/cop_out-1967
6,Legally Blonde 3,,"2022, Comedy",https://www.rottentomatoes.com/m/legally_blonde_3
8,Dwegons and Leprechauns,,"2014, Kids and family/Animation, 1h 37m",https://www.rottentomatoes.com/m/dwegons_and_l...
9,Tersanjung: The Movie,,"2021, Romance/Drama, 1h 54m",https://www.rottentomatoes.com/m/tersanjung_th...
10,The Knight and the Princess,,"2019, Musical/Animation, 1h 37m",https://www.rottentomatoes.com/m/the_knight_an...
...,...,...,...,...
329,Fatma,,2002,https://www.rottentomatoes.com/m/fatma_2002
331,Zero: An Investigation Into 9/11,,"2008, Documentary",https://www.rottentomatoes.com/m/zero-an-inves...
332,Zero Hour,,"1957, Mystery and thriller, 1h 21m",https://www.rottentomatoes.com/m/zero_hour
335,Zero Degrees Kelvin,,"1995, Drama, 1h 53m",https://www.rottentomatoes.com/m/zero_kelvin_1995
339,Cube Zero,,"2004, Horror, 1h 37m",https://www.rottentomatoes.com/m/1139738-cube_...

In [5]:
df.Score.replace("", "NR", regex=True, inplace=True)

In [6]:
df['Year'] = df.Details.str.split(",").str[0]
df['Title_Category'] = df.Details.str.split(",").str[1]
df['Runtime'] = df.Details.str.split(",").str[2]

df.drop('Details', axis=1, inplace=True)
df.head()

,Title,Score,URL,Year,Title_Category,Runtime
0,Cop-Out,NR,https://www.rottentomatoes.com/m/cop_out-1967,1967,Drama/Crime,1h 35m
1,Coven of Sisters,83,https://www.rottentomatoes.com/m/coven_of_sisters,2020,Drama,1h 30m
2,Friends With Benefits,68,https://www.rottentomatoes.com/m/friends_with_...,2011,Romance,1h 49m
3,Insidious: The Last Key,33,https://www.rottentomatoes.com/m/insidious_the...,2018,Horror/Mystery and thriller,1h 43m
4,Irul,0,https://www.rottentomatoes.com/m/irul,2021,Mystery and thriller,1h 31m

In [7]:
columns = ['Title', 'Year', 'Score', 'Title_Category', 'Runtime', 'URL']
df = df[columns]
df.head()

,Title,Year,Score,Title_Category,Runtime,URL
0,Cop-Out,1967,NR,Drama/Crime,1h 35m,https://www.rottentomatoes.com/m/cop_out-1967
1,Coven of Sisters,2020,83,Drama,1h 30m,https://www.rottentomatoes.com/m/coven_of_sisters
2,Friends With Benefits,2011,68,Romance,1h 49m,https://www.rottentomatoes.com/m/friends_with_...
3,Insidious: The Last Key,2018,33,Horror/Mystery and thriller,1h 43m,https://www.rottentomatoes.com/m/insidious_the...
4,Irul,2021,0,Mystery and thriller,1h 31m,https://www.rottentomatoes.com/m/irul

In [8]:
df.duplicated(subset=['Title', 'Year', 'Title_Category', 'Runtime']).value_counts()

False    339
True       1
dtype: int64

In [9]:
df[df.duplicated(['Title', 'Year', 'Title_Category', 'Runtime'], keep=False)]

,Title,Year,Score,Title_Category,Runtime,URL
270,Slayers: The Motion Picture,1995,NR,Animation/Fantasy,1h 15m,https://www.rottentomatoes.com/m/slayers_great
271,Slayers: The Motion Picture,1995,NR,Animation/Fantasy,1h 15m,https://www.rottentomatoes.com/m/slayers_the_m...

In [10]:
df = df.drop_duplicates(subset=['Title', 'Year', 'Title_Category', 'Runtime'], keep='last')